<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="icon" type="image/png" href="../static/artificial-intelligence.png" />
  <title>SLTUML | Home</title>
</head>

<body>
  <div class="container">
    <div class="jumbotron">
      <h1>Sign Language Translator Using Machine Learning</h1>
    </div>
    <br>
    <div class="row">
      <div class="col-xs-4">
        <img style="width:50%" src="../static/neural-network-3816319_1280.png" />
        <br><br><br>
        <button class="btn btn-info"><a style="color:white" href="train">Train</a></button>
      </div>
      <div class="col-xs-4">
        <img style="width:65%" src="../static/ml4.png" />
        <br><br>
        <button class="btn btn-success"><a style="color:white" href="predict">Action Recognition</a></button>
      </div>
      <div class="col-xs-4">
        <img style="width:45%" src="../static/tester-41740_1280.png" />
        <br><br>
        <button class="btn btn-info"><a style="color:white" href="">Calibration</a></button>
      </div>

    </div>
  </div>

  <body>