<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <link rel="icon" type="image/png" href="../static/artificial-intelligence.png" />
    <title>SLTUML | Predict</title>
  </head>
  
  <body>
    <br>
    <div class="container">
      <button class="btn btn-info"><a style="color:white" href="/">< Back</a></button>
      <div class="jumbotron">
        <h1>Action Recognition</h1>
        <h2>Powered by Python</h2>
        <p>Rendered by HTML and JavaScript</p>
      </div>
      <br>
      <label>Predicting your Action</label>
      <br>
      <button class="btn btn-success">Detect Action</button>
      <br>
      <br>
  
  
    </div>
  <body>